/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .link-v1 {
    @apply cursor-pointer duration-300 hover:text-primary-blue;
  }

  .button-v1 {
    @apply rounded-lg bg-gradient-to-b from-primary-blue to-primary-mainBlue/50 px-4 py-2 font-medium text-white shadow-md duration-300 active:scale-110 disabled:cursor-not-allowed disabled:bg-gradient-to-b disabled:from-blue-200 disabled:to-blue-100 disabled:active:scale-100;
  }

  .button-v2 {
    @apply rounded-lg bg-gradient-to-t from-primary-mainGreen to-emerald-500 px-4 py-2 font-medium text-white shadow-md duration-300 active:scale-110 disabled:cursor-not-allowed disabled:bg-gradient-to-b disabled:from-emerald-200 disabled:to-emerald-100 disabled:active:scale-100;
  }

  .custom-container {
    @apply mx-auto max-w-screen-2xl p-4 lg:py-6;
  }

  .canvas-container {
    @apply h-[350px] w-[350px] border border-slate-800 shadow-md;
  }
}

/* Custom CSS */
* {
  font-family: "Poppins", sans-serif;
}

.hero-section {
  height: 800px;
  background-image: url("/assets/images/brand/hero_background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: inherit;
}

.canvas {
  touch-action: none;
  background-size: cover;
  background-repeat: no-repeat;
}
